.radio-row {
    display: flex;
    font-size: 18px;
    align-items: center;

}

.radio-row + .radio-row{
    margin-top: 21px;
}


.real-radio{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.custom-radio {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;

    margin-right: 15px;
    flex-shrink: 0;

    background: #EEEEEE;
    border: 1px solid #C0C0C0;
    border-radius: 50%;
}

.real-radio:focus + .custom-radio{
    box-shadow: 0 0 0px 2px #333;
}

.custom-radio::before{
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    width: 12px;
    height: 12px;
    background: #2AB698 ;
    border-radius: 50%;

    transition: transform 0.2s ease-in;
}

.real-radio:checked + .custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
}